// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/dts-v1/;

#include <dt-bindings/input/linux-event-codes.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/gpio/gpio.h>
#include "en7523.dtsi"

/ {
	model = "Askey RTF8225VW";
	compatible = "askey,rtf8225vw", "airoha,en7523";

	aliases {
		serial0 = &uart1;
	};

	chosen {
		bootargs = "console=ttyS0,115200 earlycon";
		stdout-path = "serial0:115200n8";
		linux,usable-memory-range = <0x80200000 0x1fe00000>;
	};

	keys {
		compatible = "gpio-keys";

		reset {
			label = "reset";
			linux,code = <KEY_RESTART>;
			gpios = <&pinctrl 0 GPIO_ACTIVE_LOW>;
			debounce-interval = <60>;
		};

		wps5 {
			label = "wps5";
			linux,code = <KEY_WPS_BUTTON>;
			gpios = <&pinctrl 21 GPIO_ACTIVE_LOW>;
			debounce-interval = <60>;
		};

		wps2 {
			label = "wps2";
			linux,code = <KEY_WPS_BUTTON>;
			gpios = <&pinctrl 26 GPIO_ACTIVE_LOW>;
			debounce-interval = <60>;
		};
	};

	leds {
		compatible = "gpio-leds";

		/* 2.4Ghz */
		led@10 {
			color = <LED_COLOR_ID_BLUE>;
			function = LED_FUNCTION_WLAN_2GHZ;
			function-enumerator = <10>;
			gpios = <&pinctrl 10 GPIO_ACTIVE_LOW>;
		};

		/* 5Ghz */
		led@11 {
			color = <LED_COLOR_ID_BLUE>;
			function = LED_FUNCTION_WLAN_5GHZ;
			function-enumerator = <11>;
			gpios = <&pinctrl 11 GPIO_ACTIVE_LOW>;
		};

		/* Power */
		led_power: led@8 {
			color = <LED_COLOR_ID_BLUE>;
			function = LED_FUNCTION_WAN_ONLINE;
			function-enumerator = <8>;
			gpios = <&pinctrl 8 GPIO_ACTIVE_LOW>;
		};

		/* xPON */
		led_pon: led@9 {
			color = <LED_COLOR_ID_RED>;
			function = LED_FUNCTION_WAN_ONLINE;
			function-enumerator = <9>;
			gpios = <&pinctrl 9 GPIO_ACTIVE_LOW>;
		};
	};
};

&pcie0 {
	status = "okay";
};

&pcie1 {
	status = "okay";
};

&snfi {
	status = "okay";
};

&eth {
	status = "okay";
};

&gdm1 {
	status = "okay";
};

&spi_nand {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		partition@0 {
			label = "u-boot";
			reg = <0x000000 0x100000>;
		};

		partition@100000 {
			label = "ubi";
			compatible = "linux,ubi";
			reg = <0x100000 0x000000>;
		};
	};
};
