// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/dts-v1/;

#include <dt-bindings/input/linux-event-codes.h>
#include <dt-bindings/leds/common.h>
#include "en7523.dtsi"

/ {
	model = "MitraStar GPT-2742GX4X5v6";
	compatible = "mitrastar,gpt-2742gx4x5v6", "airoha,en7523";

	aliases {
		serial0 = &uart1;
	};

	chosen {
		bootargs = "console=ttyS0,115200 earlycon";
		stdout-path = "serial0:115200n8";
		linux,usable-memory-range = <0x80200000 0x1fe00000>;
	};

	keys {
		compatible = "gpio-keys";

		reset {
			label = "reset";
			linux,code = <KEY_RESTART>;
			gpios = <&pinctrl 0 GPIO_ACTIVE_LOW>;
			debounce-interval = <60>;
		};

		wps5 {
			label = "wps5";
			linux,code = <KEY_WPS_BUTTON>;
			gpios = <&pinctrl 8 GPIO_ACTIVE_LOW>;
			debounce-interval = <60>;
		};

		wps2 {
			label = "wps2";
			linux,code = <KEY_WPS_BUTTON>;
			gpios = <&pinctrl 11 GPIO_ACTIVE_LOW>;
			debounce-interval = <60>;
		};
	};

	leds {
		compatible = "gpio-leds";

		// red:internet
		led_pon: led@3 {
			function = LED_FUNCTION_WAN_ONLINE;
			function-enumerator = <3>;
			color = <LED_COLOR_ID_RED>;
			gpios = <&pinctrl 3 GPIO_ACTIVE_HIGH>;
		};

		// blue:internet
		led_power: led@10 {
			function = LED_FUNCTION_WAN_ONLINE;
			function-enumerator = <10>;
			color = <LED_COLOR_ID_BLUE>;
			gpios = <&pinctrl 10 GPIO_ACTIVE_LOW>;
		};

		// blue:wlan-2g
		led@9 {
			function = LED_FUNCTION_WLAN_2GHZ;
			function-enumerator = <9>;
			color = <LED_COLOR_ID_BLUE>;
			gpios = <&pinctrl 9 GPIO_ACTIVE_LOW>;
		};

		// blue:wlan-5g
		led@21 {
			function = LED_FUNCTION_WLAN_5GHZ;
			function-enumerator = <21>;
			color = <LED_COLOR_ID_BLUE>;
			gpios = <&pinctrl 21 GPIO_ACTIVE_LOW>;
		};

		// green:fxs
		led@1 {
			function = LED_FUNCTION_ACTIVITY;
			function-enumerator = <1>;
			color = <LED_COLOR_ID_GREEN>;
			gpios = <&pinctrl 1 GPIO_ACTIVE_LOW>;
		};

		// red:fxs
		led@26 {
			function = LED_FUNCTION_ACTIVITY;
			function-enumerator = <26>;
			color = <LED_COLOR_ID_RED>;
			gpios = <&pinctrl 26 GPIO_ACTIVE_LOW>;
		};

		// blue:fxs
		led@27 {
			function = LED_FUNCTION_ACTIVITY;
			function-enumerator = <27>;
			color = <LED_COLOR_ID_BLUE>;
			gpios = <&pinctrl 27 GPIO_ACTIVE_LOW>;
		};
	};
};

&pcie0 {
	status = "okay";
};

&pcie1 {
	status = "okay";
};

&snfi {
	status = "okay";
};

&eth {
	status = "okay";
};

&gdm1 {
	status = "okay";
};

&spi_nand {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		partition@0 {
			label = "u-boot";
			reg = <0x00000000 0x00100000>;
			read-only;
		};

		partition@100000 {
			label = "ubi";
			compatible = "linux,ubi";
			reg = <0x00100000 0x10000000>;
		};
	};
};
